<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="data.css">
    <title>Document</title>
</head>
<body>
        <form action="test/login" method="post" class="loginform">
      
        <p>Name:</p>
        <input type="text" name="username" id="name"> 
        <p>Password:</p>
        <input type="password" name="password" id="password">
        <br>
        <input type="submit" value="Login" id="submit">
         
       </form> 
       <form action="/test/submit" method="post" class="signinform">
       <p>Name:</p>
       <input type="text" name="username" id="name"> 
       <p>Age:</p>
       <input type="Number" name="age" id="age"> 
       <p>Password:</p>
        <input type="password" name="password" id="password">
       <p>City:</p>
       <input type="text" name="city" id="city">
       <p>Salary:</p>
       <input type="Number" name="salary" id="salary">
       <p>Employee Project:</p>
       <input type="text" name="project" id="project">
       <br> 
       
       
        <input type="submit" id="submit">
      <a href="search.html">Search User</a>
      <a href="delete.html">Delete User</a>
      


    </form>

<!-- <script>

    function myFunction(){
        var api= require('./controller/api.js');
        app.use("/testApi",api); 
    }
</script> -->
</body>
</html>